extends layout
block header
  link(rel='stylesheet', href='/stylesheets/ideaDetail.css')

mixin editPicture
  if (isOwner)
    div.caption
      button.btn.btn-default(type="button" name="removeImage"
                         onClick="removeImage(#{idea.id}, #{n})") Remove

mixin Category
  h4
    span.bold Category   
    span.smalltext#category= idea.category  
      if (isOwner)
        button.btn.btn-default(type='button' onClick="toggleEditCategory()") Edit
    if (isOwner)
      span#editCategory(style="display: none")
        div.form-group
          select#chosenCategory.form-control(name='editCategory'
                                             value=idea.category)
            each category in categories
              if (category == idea.category)
                option(value=category selected)= category
              else
                option(value=category)= category
        div.form-group
          button.btn.btn-primary(onClick="submitEditCategory(" + idea.id + ")") Submit


block content
  script(src='/javascripts/ideaDetail.js').

  div(class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel" aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") x
          h4(class="modal-title" id="deleteDialogLabel") Delete Idea
        div(class="modal-body")
          | Are you sure you want to delete this idea?  This cannot be undone.
        div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
          button(type="button" class="btn btn-primary"
                 onClick="deleteIdea(" + idea.id + ")") Delete

  div.container
    div.row
      div.col-md-3
        block voting
        block ideaDeveloper
      div.col-md-9
        div.panel.panel-default
          div.panel-heading 
            h1.panel-title #{idea.name}
              if (isOwner)
                button.btn.btn-primary(type="button" data-toggle="modal" data-target="#deleteDialog" style="margin-left: 2em") Delete this idea

          div.panel-body
            h4.bold 
            div.row
              - var n = 0
              div.col-sm-4.col-md-4.col-lg-4
                div.thumbnail
                  div.thumbnail-container
                    img.thumbnail-img(src="/idea/thumbs/" + idea.id)
                  +editPicture
              if (screenshotIds.length > 0)
                each imageId in screenshotIds
                  - n++
                  if (n % 3 == 0)
                    div.row
                  div.col-sm-4.col-md-4.col-lg-4
                    div.thumbnail
                      div.thumbnail-container
                        a(href="/idea/" + idea.id + "/screens/" + imageId + ".jpg")
                          img.thumbnail-img(src="/idea/" + idea.id + "/screenthumbs/" + imageId + ".jpg")
                      +editPicture
            if (isOwner)
              form.form-horizontal(action='/idea/' + idea.id + '/screens' method='post' enctype='multipart/form-data')
                div.form-group
                  div.col-sm-10
                    input(type='file' name='screenshot' accept='image/*' required)
                div.form-group
                  div.col-sm-10
                    button.btn.btn-primary(type='submit') Add screenshot
            h4 
              span.bold Author 
              span.smalltext
                img#profilepic(src='#{idea.userPic}' alt='profile pic')   
                |   #{idea.ownername} on #{idea.created_at}
            +Category
            h4.bold Description
            p #{idea.description}
        block comments
