extends voting

block ideaDeveloper
  if (userInfo.isDeveloper)
    div.panel.panel-default
      div.panel-heading
        p Developer Resources
      div.panel-body
        button.btn.btn-primary(type='button' data-toggle='modal'
	                       data-target='#devmodal') Start Work on This App

  div.modal.fade.bs-example-modal-sm#devmodal(
    tabindex='-1' role='dialog' aria-labelledby='devmodallabel'
    aria-hidden='true')
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='close')
            span(aria-hidden='true') &times;
          h4.modal-title#devmodallabel Start Development
        div.modal-body 
          form(action='/idea/' + idea.id + '/devvote' method='post')
            div.form-group
              label(data-toggle='tooltip'
                    data-placement='top') Estimated months to complete
              div.input-group
                input.form-control(
                  type='number' min='1' step='1' name='manmo'
                  value=devVote.devmo required)
                span.input-group-addon mo.
              button.btn.btn-primary(type='submit') Submit
