extends layout
block header
  link(rel='stylesheet', href='/stylesheets/ideaDetail.css')

mixin editPicture
  if (isOwner)
    div.caption
      button.btn.btn-default(type="button" name="removeImage"
                             onClick="removeImage(#{idea.id}, #{n})") Remove

mixin Category
  h4
    span.bold Category:
    span#category= idea.category
      if (isOwner)
        button.btn(type='button' onClick="toggleEditCategory()") Edit
    if (isOwner)
      span#editCategory(style="display: none")
        select#chosenCategory.form-control(name='editCategory'
                                           value=idea.category)
          each category in categories
            if (category == idea.category)
              option(value=category selected)= category
            else
              option(value=category)= category
        button.btn.btn-primary(onClick="submitEditCategory(" + idea.id + ")") Submit


block content
  script(src='/javascripts/ideaDetail.js').
  div.container
    div.row
      div.col-md-3
        block voting
      div.col-md-9
        div.panel.panel-default
          div.panel-heading 
            h1.panel-title #{idea.name}
          div.panel-body
            h4.bold 
              | Submitted by: 
              img#profilepic(src='#{idea.userPic}' alt='profile pic')   
              |   #{idea.ownername}
            +Category
            h4.bold Screenshots:
            div.row
              - var n = 0
              div.col-sm-4.col-md-4.col-lg-4
                div.thumbnail
                  div.thumbnail-container
                    img.thumbnail-img(src="/idea/thumbs/" + idea.id)
                    +editPicture
              if (screenshotIds.length > 0)
                each imageId in screenshotIds
                  - n++
                  if (n % 3 == 0)
                    div.row
                  div.col-sm-4.col-md-4.col-lg-4
                    div.thumbnail
                      div.thumbnail-container
                        a(href="/idea/" + idea.id + "/screens/" + imageId + ".jpg")
                          img.thumbnail-img(src="/idea/" + idea.id + "/screenthumbs/" + imageId + ".jpg")
                          +editPicture
            if (isOwner)
              form.form-horizontal(action='/idea/' + idea.id + '/screens' method='post' enctype='multipart/form-data')
                div.form-group
                  div.col-sm-10
                    input(type='file' name='screenshot' accept='image/*' required)
                div.form-group
                  div.col-sm-10
                    button.btn.btn-primary(type='submit') Add screenshot
            h4.bold Description
            p #{idea.description}
        block ideaDeveloper
        block comments
