extends voting

block ideaDeveloper
   div.panel.panel-default
      div.panel-heading
         p Developer Resources
      div.panel-body
          if (estimatedmo != 0)
            - var percent = Math.round(commitedmo * 100 / estimatedmo)
            - var commited = (commitedmo / (40 * 4))
          else
            - var percent = 0
            - var commited = 0
          p.manmo(data-toggle='tooltip' data-placement='top' title='Average months taken to complete project assuming only one developer is working 40 hrs/week.')
            span.bold Estimated man months
            span.badge.pull-right= (estimatedmo / (40 * 4)).toFixed(1)
          div.progress(data-toggle='tooltip' data-placement='top' title='#{commited} mo. (#{percent}%) Commited')
              div.progress-bar(role='progressbar' aria-valuenow='#{commitedmo}' aria-valuemin='0' aria-valuemax='#{estimatedmo}' style='width: #{percent}%')
                span.sr-only #{percent} %
          p.tinytext
            span.pull-left 0 mo.
            span.pull-right= (estimatedmo / (40 * 4)).toFixed(1) 
                |   mo.
          br
          if (userInfo.isDeveloper)
            if (devVote != undefined)
              p
                span.bold Your estimate and commitment
              ul.list-group
                li.list-group-item Estimated man months
                  span.badge.pull-right= devVote.devmo
                li.list-group-item Available hrs/week
                  span.badge.pull-right= devVote.devweekly
                li.list-group-item Available weeks 
                  span.badge.pull-right= devVote.devweeks
              - var devHeader = 'Change your estimate'
              button.btn.btn-primary(type='button' data-toggle='modal' data-target='#devmodal')= devHeader
            else
              - devVote = {}
              - var devHeader = 'Give estimate'
              button.btn.btn-primary(type='button' data-toggle='modal' data-target='#devmodal')= devHeader
            div.modal.fade.bs-example-modal-sm#devmodal(tabindex='-1' role='dialog' aria-labelledby='devmodallabel' aria-hidden='true')
              div.modal-dialog.modal-sm
                div.modal-content
                  div.modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='close')
                      span(aria-hidden='true') &times;
                    h4.modal-title#devmodallabel= devHeader
                  div.modal-body 
                    form(action='/idea/' + idea.id + '/devvote' method='post')
                       div.form-group
                         label(data-toggle='tooltip' data-placement='top' title="Months taken to complete project assuming only 1 developer is working 40 hrs/week" for='manmo') Your estimated man months
                         div.input-group
                           input.form-control(type='number' min='1' step='1' name='manmo' value='#{devVote.devmo}' required)
                           span.input-group-addon mo.
                       div.checkbox
                          label
                             if (devVote.devweekly == 0)
                                input#checkbox-toggle(type='checkbox' name='interested') 
                             else
                                input#checkbox-toggle(type='checkbox' name='interested' checked)
                             | I want to work on this project.
                        div.form-group
                         label(for='weekly') Your available hrs/week
                         div.input-group
                           input.form-control.optional(type='number' min='0' step='1' name='weekly' value='#{devVote.devweekly}' required)
                           span.input-group-addon hrs/week
                       div.form-group
                         label(for='weeks') Your available weeks
                         div.input-group
                           input.form-control.optional(type='number' min='0' step='1' name='weeks' value='#{devVote.devweeks}' required)
                           span.input-group-addon weeks
                       div.form-group
                         button.btn.btn-primary(type='submit') Submit
          if (commitedDevs != undefined)
            br
            hr
            p 
              span.bold Commited developers
            ul.list-group
              each dev in commitedDevs
                li.list-group-item
                  img#profilepic(src='#{dev.profile_pic_url}' alt='profile pic') 
                  |   #{dev.name}
