extends layout
block header
	link(rel='stylesheet', href='/stylesheets/index.css')
block content
	div.container
		div.row
			div.col-md-3
				p.lead Categories
					div.list-group()
						mixin CategoryItem(groupClass, entry)
							- var outFilter = ''
							if (entry.category != 'All')
								- outFilter = '?filter=' + encodeURIComponent(entry.category)
							a.list-group-item(href='/' + outFilter,
																class=groupClass)
								span.bold= entry.category
								if (entry.count)
									span.badge= entry.count

						- var allCategory = 'all-category'
						if (filter == undefined)
							- allCategory = allCategory + ' active'
						+CategoryItem(allCategory, {category:'All', count:0})
						each entry in categories
							- var groupClass = ''
							if (entry.category == filter)
								- groupClass = 'active'
							+CategoryItem(groupClass, entry)

			div.col-md-9
				p.lead Sort By:    
					if (sortBy == 'popular')
						a(href='/?sortBy=latest')
							button(type="button" class="btn btn-default") Latest  
						a(href='/?sortBy=popular')
							button(type="button" class="btn btn-default active") Popular
					else
						a(href='/?sortBy=latest')
							button(type="button" class="btn btn-default active") Latest  
						a(href='/?sortBy=popular')
							button(type="button" class="btn btn-default") Popular
				- var n = 0
				each idea in ideas
					if (n % 3 == 0)
						div.row
					a(href="/idea/" + idea.id)
						div.col-sm-4.col-md-4.col-lg-4
							div.thumbnail
								div.thumbnail-container
									img.thumbnail-img(src='/idea/thumbs/' + idea.id, alt='idea_image')
								div.caption
									h4.bold #{idea.name}
									h5 By: #{idea.ownername}
									h4.bold DollarVotes: $#{idea.dollarVotes}
									p.light= idea.description
					- n++
					