extends layout
block header
	link(rel='stylesheet', href='/stylesheets/index.css')
block content
	div.container
		div.row
			div.col-md-3
				p.lead Categories
					div.list-group
						each category in categories
							a.list-group-item(href='#')= category

			div.col-md-9
				- var n = 0
				each idea in ideas
					if (n % 3 == 0)
						div.row
					a(href="/idea/" + idea.id)
						div.col-sm-4.col-md-4.col-lg-4
							div.thumbnail
								img(src='/idea/thumbs/' + idea.id, alt='idea_image')
								div.caption
									h4.bold #{idea.name}
									h5 By: #{idea.ownername}
									h4.bold DollarVotes: $#{idea.dollarVotes}
									p.light 
										| #{idea.description}
					- n++
					