extends layout

block content
  script(src='/javascripts/profile.js').
  p Name: #{user.name}
  p Description: #{user.description}
  if (user.is_developer)
    input(type='checkbox' id='isDeveloper' name='isDeveloper'
          onClick='isDeveloperClicked(this)' value=user.is_developer
          checked)
  else
    input(type='checkbox' id='isDeveloper' name='isDeveloper'
          onClick='isDeveloperClicked(this)' value=user.is_developer)
  label(for='isDeveloper') I am a Developer
  