extends ideaDetail

block voting
  div.panel.panel-default
    div.panel-heading 
      p(style="margin-top: .5em") Total DollarVotes: $#{totalDollarVotes}
    if (rejectionVotes)
      div.panel-body
        p Votes for:
        ul(style="padding-left: .75em")
          if (rejectionVotes[-1])
            li I don't think this will succeed: #{rejectionVotes[-1]}
          if (rejectionVotes[-2])
            li Too difficult to implement: #{rejectionVotes[-2]}
          if (rejectionVotes[-3])
            li I don't support this for some other reason: #{rejectionVotes[-3]}

  if (!isLoggedIn)
    p.lead <a href="/auth/facebook">Log in</a> to vote
  else
    if (userVote != undefined)
      div
        p 
          span.bold You voted  
          if (userVote == -1)
            | I don't think this will succeed
          else if (userVote == -2)
            | Too difficult to implement
          else if (userVote == -3)
            | I don't support this for some other reason
          else
            | $#{userVote}

      form(action='/idea/' + idea.id + '/vote' method='post')
        div.form-group
          button.btn.btn-primary(type='submit' name='vote'
                                 value='0') Remove Vote

      - var voteHeader='Change your vote:'
    else
      - var voteHeader='Cast your vote:'
    div.panel.panel-default
      div.panel-heading
        p= voteHeader
      div.panel-body
        div(role="tabpanel")
          ul(class="nav nav-tabs" role="tablist")
            li(role="presentation" class="active") <a href="#like" aria-controls="like" role="tab" data-toggle="tab">Like</a>
            li(role="presentation") <a href="#dislike" aria-controls="dislike" role="tab" data-toggle="tab">Dislike</a>

        div(class="tab-content")
          div(role="tabpanel" class="tab-pane active" id="like")
            form(action='/idea/' + idea.id + '/vote' method='post')


              div.form-group
                label(for='vote') Dollar Vote
                p How much money would you commit if this idea begins development?
                div.input-group
                  span.input-group-addon $
                  input.form-control#dollarVote(
                    type='number' min='1' max='100000' step='1'
                    name='vote' placeholder='0')
                  span.input-group-addon .00
              div.form-group
                button.btn.btn-primary(type='submit') Submit

          div(role="tabpanel" class="tab-pane" id="dislike")
            form(action='/idea/' + idea.id + '/vote' method='post')
              div.form-group
                label(for='vote') Why don't you like this idea?
                  select#defaultVote.form-control(name='vote')
                    option(value='-1') Won't succeed
                    option(value='-2') Too difficult to implement
                    option(value='-3') Some other reason
              div.form-group
                button.btn.btn-primary(type='submit') Submit
    
    div.panel.panel-default
      div.panel-heading 
        if (estimatedmo)
          p Estimated Man Months: #{estimatedmo} months
        else
          p No Estimated Man Months
      if (devVote != undefined)
        div.panel-body
          p.bold Your answers:
          ul(style="padding-left: .75em")
            li Man Months: #{devVote.devmo}
            li Available hrs/week: #{devVote.devweekly}
            li Avaliable weeks: #{devVote.devweeks}
        - var devVoteHeader = 'Change your answers'
      else
        - var devVoteHeader = 'Work on this project?'

    if (userInfo.isDeveloper)
      div.panel.panel-default
        div.panel-heading
          p= devVoteHeader
        div.panel-body
          form(action='/idea/' + idea.id + '/devvote' method='post')
            div.form-group
              label(for='manmo') Man Months
              div.input-group
                input.form-control(type='number' min='1' step='1' name='manmo' placeholder='0' required)
                span.input-group-addon mo.
            div.form-group
              label(for='weekly') Available hrs/week
              div.input-group
                input.form-control(type='number' min='1' step='1' name='weekly' placeholder='0' required)
                span.input-group-addon hrs/week
            div.form-group
              label(for='weeks') Available weeks
              div.input-group
                input.form-control(type='number' min='1' step='1' name='weeks' placeholder='0' required)
                span.input-group-addon weeks
            div.form-group
                button.btn.btn-primary(type='submit') Submit