extends ideaDetail

block voting
  div.panel.panel-default
    div.panel-heading 
      p(style="margin-top: .5em") Total DollarVotes: $#{totalDollarVotes}
    if (rejectionVotes)
      div.panel-body
        p Votes for:
        ul(style="padding-left: .75em")
          if (rejectionVotes[-1])
            li I don't think this will succeed: #{rejectionVotes[-1]}
          if (rejectionVotes[-2])
            li Too difficult to implement: #{rejectionVotes[-2]}
          if (rejectionVotes[-3])
            li I don't support this for some other reason: #{rejectionVotes[-3]}

  if (!isLoggedIn)
    p.lead <a href="/auth/facebook">Log in</a> to vote
  else
    if (userVote != undefined)
      div
        p 
          span.bold You voted  
          if (userVote == -1)
            | I don't think this will succeed
          else if (userVote == -2)
            | Too difficult to implement
          else if (userVote == -3)
            | I don't support this for some other reason
          else
            | $#{userVote}

      form(action='/idea/' + idea.id + '/vote' method='post')
        div.form-group
          button.btn.btn-primary(type='submit' name='vote'
                                 value='0') Remove Vote

      p.lead Change your vote:
    else
      p.lead Cast your vote:
    div
      form(action='/idea/' + idea.id + '/vote' method='post')
        select#defaultVote.form-control(name='vote')
          option(value='10') $10 - I love it!
          option(value='8') $8 - It's great!
          option(value='5') $5 - I really like it!
          option(value='2') $2 - I like it!
          option(value='-1') I don't think this will succeed
          option(value='-2') Too difficult to implement
          option(value='-3') I don't support this for another reason

        div.form-group
          button.btn.btn-primary(type='submit') Submit
